/10CRUD/11ventanita/ArrayListPersona/build/
/10CRUD/14File/nbproject/private/
/10CRUD/14File/build/
/10CRUD/ExamenParcial2/nbproject/private/
/10CRUD/ExamenParcial2/build/
/10CRUD/Examen2'arcial/nbproject/private/
/10CRUD/Examen2parcial/nbproject/private/
/10CRUD/Examen2parcial/build/
